body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 14px;
  }

h1 {
    text-align: center;
}

 /* Table */

 table {
    border: 2px solid black;
    width: 800px;
    border-radius: 5px;
    margin: 0 auto;
  }