body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 14px;
  }

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    padding-left: 22%;
}

 /* Table */

 table {
    border: 2px solid black;
    width: 800px;
    border-radius: 5px;
    margin: 0 auto;
  }

  thead {
    background-color: lightgray;
    text-transform: uppercase;
  }

  td {
    border-top: 1px solid black;
    padding: 3px;
  }

  .selector {
    color: red;
    font-weight: 540;
  }

  /* Footer */

  footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
}